/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*----------------------------------------------------------------------*/
  background-color:background: rgb(255,247,0);
background: linear-gradient(294deg, rgba(255,247,0,1) 0%, rgba(255,252,144,1) 100%);; /* Background color - can be changed later */
  color: rgb(150,150,150); /* Text color */
  font-family: "Custom", sans-serif; /* Font family */
  /*----------------------------------------------------------------------*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Load the variable font from the local folder */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700; /* Specify the weight range */
  font-stretch: 75% 100%; /* Optional: if the font supports width (wdth) */
  font-display: swap; /* Ensures that text is visible while the font is loading */
}

@font-face {
  font-family: "Custom";
  /*----------------------------------------------------------------------*/
  src: url("fonts/tag0314VF.ttf") format("truetype");
  /*----------------------------------------------------------------------*/
  font-weight: 100 700; /* Specify the weight range */
  font-stretch: 75% 100%; /* Optional: if the font supports width (wdth) */
  font-display: swap; /* Ensures that text is visible while the font is loading */
}

/* Container with centered text */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20rem; /* Font size - can be adjusted later */
  text-align: center;
}
