/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*----------------------------------------------------------------------*/
  background-color: #2F0166; /* Background color - can be changed later */
  color: #ffffff; /* Text color */
  font-family: "5_VF", sans-serif; /* Font family */
  /*----------------------------------------------------------------------*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Load the variable font from the local folder */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700; /* Specify the weight range */
  font-stretch: 75% 100%; /* Optional: if the font supports width (wdth) */
  font-display: swap; /* Ensures that text is visible while the font is loading */
}

@font-face {
  font-family: "5_VF";
  /*----------------------------------------------------------------------*/
  src: url("fonts/5_VF.ttf") format("truetype");
  /*----------------------------------------------------------------------*/
  font-weight: 0 800; /* Specify the weight range */
  font-stretch: 75% 100%; /* Optional: if the font supports width (wdth) */
  font-display: swap; /* Ensures that text is visible while the font is loading */
}

/* Container with centered text */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30rem; /* Font size - can be adjusted later */
  text-align: center;
}
