/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*--------------------------------------------------------------------------------------*/
  font-family: "Custom", sans-serif; /* Font family */
  background-color: rgb(0, 0, 0); /* Background color - can be changed later */
  color: rgb(140, 91, 255); /* Text color */
  /*--------------------------------------------------------------------------------------*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Load the variable font from the local folder */
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 700; /* Specify the weight range */
  font-stretch: 75% 100%; /* Optional: if the font supports width (wdth) */
  font-display: swap; /* Ensures that text is visible while the font is loading */
}

@font-face {
  font-family: "Custom";
  /*-------------------------------------------------------------------------------------*/
  src: url("fonts/spikyserifVF.ttf") format("truetype");
  
  /*-------------------------------------------------------------------------------------*/

  font-weight: 0 800; /* Specify the weight range */
  font-stretch: 0% 100%; /* Optional: if the font supports width (wdth) */
  font-display: swap; /* Ensures that text is visible while the font is loading */
}

/* Container with centered text */
#container {
  /*-------------------------------------------------------------------------------------*/
  font-size: 40rem; /* Font size - can be adjusted later */
  /*-------------------------------------------------------------------------------------*/

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
